<!DOCTYPE html>
<html lang="pt-br">

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- header's snippet -->
        <title>{% block title%}{% endblock %}</title>
        {% include 'snippets/header.html' %}
    </head>

    <body>
        <!-- Body -->
        <style type="text/css">
            .main{
                min-height: 100vh;
                height: 100%;
            }
        </style>
        <div class="main">
            {% block body %}
 
            {% endblock body%}
        </div>
        <!-- EndBody -->

        <!-- footer's snippet -->
        {% include 'snippets/footer.html' %}   
    </body>

</html>