{% extends "Home/layout.html" %}

{% block title%}Home{% endblock %}

{% block body %}
    <h1>Registrar</h1>
    <form class="form-signin" method="POST">{% csrf_token %}
        <h1 class="h3 mb-3 font-weight-normal">Register Account</h1>
        <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
        <input type="text" name="username" id="inputUsername" class="form-control" placeholder="Username" value="{{account_form.initial.username}}" required>
        <input type="password" name="password1" id="inputPassword1" class="form-control" placeholder="Password" required>
        <input type="password" name="password2" id="inputPassword2" class="form-control" placeholder="Confirm Password" required>
        {% for field  in register_form %}
            <p>
                {% for error in field.errors  %}
                    <p style="color: red;">{{error}}</p>
                {% endfor %}               
            </p>
        {% endfor %}
        {% if register_form.non_field_errors%}
            <div style="color: red;">
                <p>{{register_form.non_field_errors}}</p>
             </div>
        {% endif %}
        <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
        
    </form>
{% endblock %}